<div class="comment__l-meta">
  <div class="comment__user-picture">
    <img [attr.src]="domSanitizer.bypassSecurityTrustResourceUrl(user.pictureDataUri)" >
  </div>
  <div class="comment__user-name">{{user.name}}</div>
  <div class="comment__time">{{time | fromNow}}</div>
</div>
<div class="comment__l-main">
  <div class="comment__message">
    <app-editor [content]="content"
                [showControls]="true"
                (editSaved)="onEditSaved($event)">
    </app-editor>
  </div>
</div>
