<div class="comments__title">Add new comment</div>
<div class="comments__add-comment-section">
  <div class="comments__add-comment-box">
    <app-editor [editMode]="true"
                [showControls]= "false"></app-editor>
  </div>
  <button (click)="addNewComment()"
          class="button" >Add comment</button>
</div>

<div *ngIf="comments?.length > 0">
  <div class="comments__title">All comments</div>
  <ul class="comments__list">
    <li *ngFor="let comment of comments">
      <app-comment [content]="comment.content"
              [time]="comment.time"
              [user]="comment.user"
              (commentEdited)="onCommentEdited(comment, $event)">
      </app-comment>
    </li>
  </ul>
</div>